$primary: #ffb86a;
$onPrimary: #492900;
$primaryContainer: #683d00;
$onPrimaryContainer: #ffdcbc;
$secondary: #e0c1a3;
$onSecondary: #402d17;
$secondaryContainer: #58432c;
$onSecondaryContainer: #feddbe;
$tertiary: #becc9c;
$onTertiary: #293411;
$tertiaryContainer: #3f4b26;
$onTertiaryContainer: #dae9b6;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffb4ab;
$background: #1f1b16;
$onBackground: #ebe1d9;
$surface: #1f1b16;
$onSurface: #ebe1d9;
$surfaceVariant: #50453a;
$onSurfaceVariant: #d5c4b5;
$outline: #9d8e81;
$outlineVariant: #50453a;
$shadow: #000000;
$scrim: #000000;
$inverseSurface: #ebe1d9;
$inverseOnSurface: #352f2b;
$inversePrimary: #885200;
$type: dark;

